.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  // @include respond (tab-land) {
  //   height: 100%
  // }

  &__content {
    @include absCenter;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;

    // @include respond (tab-land) {

    //   width: 85%;
    //   display: block;
    // }

  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond (tab-land) {
      height: 60%;
      width: 100%;
      display: block;
      margin-bottom: 8rem;
    }

    @include respond (phone) {
      display: none;
    }


  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond (tab-land) {
      display: block;
      width: 100%;
      padding: 6rem 5rem 4rem 5rem;
    }

    @include respond (tab-port) {
      padding: 8rem 5rem 4rem 5rem;
    }

    @include respond (phone) {
      padding: 3rem 5rem;
    }

  }

  &__img {
    display: block;
    width: 100%;

    @include respond (tab-land) {
      display: block;
      width: 50%;
      float: left;
      height: 20vh;
      object-fit: cover;
    }

    @include respond (phone) {
      display: none;
    }
  }



  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;


    -moz-column-count: 2;
    -moz-column-gap: 4rem; 
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem; //1em = 14px 1 em is the font size of the current element
    column-rule: 1px solid $color-grey-light-2; //this will add a line in the middle, we can specify the color

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond (tab-port) {
      -moz-column-count: 1;
      column-count: 1;
    }
  }

    //open states
    &:target {
      opacity: 1;
      visibility: visible;
    }
  
    &:target &__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  
    &__close {
      &:link,
      &:visited {
        color: $color-grey-dark;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        line-height: 1;
      }
  
      &:hover {
        color: $color-primary;
      }
    }
}
